# Ignore common LaTeX intermediate and output files
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.log
*.lof
*.lot
*.toc
*.fls
*.out
*.synctex.gz
*.fdb_latexmk
*.nav
*.snm
*.vrb

# Ignore input and output directories
tasks/*/input
tasks/*/output

#ignore logbook pdf
logbook/logbook.pdf
.Rproj.user